In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("./Cricket Dataset.csv")

C:\Users\debdi\AppData\Local\Temp\ipykernel_29928\3141108476.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./Cricket Dataset.csv")

In [7]:
df.head(15)

,Balls,MatchNo,Innings,BattingTeam,City,Date,Match_Type,Toss_Decision,Toss_Winner,Venue,...,Temp,Score,Wickets,Wicket_ball,Ext_bl,fsdasfasd,Ball_b,Wicket_kind,Wicket_Fielders,Player_out
0,1,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,1,0,0,1,0,1,NaN,NaN,NaN
1,2,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,1,0,0,1,1,1,NaN,NaN,NaN
2,3,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,1,0,0,1,2,2,NaN,NaN,NaN
3,4,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,1,0,0,1,3,3,NaN,NaN,NaN
4,5,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,4,4,NaN,NaN,NaN
5,6,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,5,5,NaN,NaN,NaN
6,7,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,6,6,NaN,NaN,NaN
7,8,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,7,7,NaN,NaN,NaN
8,9,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,8,8,NaN,NaN,NaN
9,10,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,9,9,NaN,NaN,NaN
10,11,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,10,10,NaN,NaN,NaN
11,12,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,11,11,NaN,NaN,NaN
12,13,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,12,12,NaN,NaN,NaN
13,14,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,13,13,NaN,NaN,NaN
14,15,1,1,Australia,London,9/4/2009,ODI,field,England,Kennington Oval,...,1,5,0,0,1,14,14,NaN,NaN,NaN

In [6]:
selected_columns = df.columns[[1,2,13,22,24,25,26,29]]
selected_columns

Index(['MatchNo', 'Innings', 'Over', 'Runs_Total', 'Score', 'Wickets',
       'Wicket_ball', 'Ball_b'],
      dtype='object')

### Description of Selected Columns

- **MatchNo**: The unique number assigned to the match.  
- **Innings**: Indicates whether the data corresponds to the 1st or 2nd innings (values: 1 or 2).  
- **Over**: Represents the current over in the match, formatted as `x.y` (e.g., `0.1`, `0.5`, `3.6`), where `x` is the over count and `y` is the ball number within the over.  
- **Runs_Total**: The total runs scored on that particular ball, including extras.  
- **Score**: The cumulative score of the batting team at that point in the match.  
- **Wickets**: The total number of wickets lost by the batting team so far.  
- **Wicket_ball**: A binary field (`0` or `1`) indicating whether the given ball resulted in a wicket (`1` if a wicket fell, `0` otherwise).  
- **Ball_b**: The sequential ball number in the match (e.g., in an ODI, it will be at least 300 or more if there are extra deliveries due to no-balls or wides).

In [14]:
data = df[selected_columns]
data = data[data["Innings"] == 1]

In [15]:
data.head()

   MatchNo Innings  Over  Runs_Total  Score  Wickets  Wicket_ball  Ball_b
0        1       1   0.1           1      1        0            0       1
1        1       1   0.2           0      1        0            0       1
2        1       1   0.3           0      1        0            0       2
3        1       1   0.4           0      1        0            0       3
4        1       1   0.5           4      5        0            0       4

### Calculating R(b, w) which represents the average runs scored at a specific ball number b and a given number of wickets lost w.

In [23]:
sum_run = np.zeros((300, 11))
count = np.zeros((300, 11))
runbw = np.zeros((300, 11))

for i, row in data.iterrows():
    balls = int(row["Ball_b"]) 
    wickets = int(row["Wickets"])  
    runs = int(row["Runs_Total"])  

    if 1 <= balls <= 300 and 0 <= wickets <= 10:
        sum_run[balls - 1, wickets] += runs  
        count[balls - 1, wickets] += 1  

for i in range(0, 300):
    for j in range(0, 11):
        if count[i, j] > 0:
            runbw[i, j] = sum_run[i, j] / count[i, j]

### Calculating P(b, w)